# Introduction to sci-kit learn

This notebook demonstrates some of the most usefulfuctions of the Sci-kit learn library.

1. Sci-kit learn workflow
2. Getting the data ready
3. Choose the right algorithm/ estimator for our problem
4. Fir the model/ algorithm and use it to make predictions on our data
5. Evaluating a model
6. Improve the model
7. Save and load a trained model
8. Group it all together

## 1. End to End scikit learn model workflow

In [7]:
# 1. Get the data ready
import pandas as pd
import numpy as np
heart_diseases = pd.read_csv('heart_disease.csv')
heart_diseases.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [29]:
# create x (features matrix)
x = heart_diseases.drop('target', axis = 1)

# create y (lables)
y = heart_diseases['target']

In [31]:
import warnings
warnings.filterwarnings('ignore')

In [33]:
import sklearn
sklearn.show_versions()

System:
    python: 3.8.2 (default, Mar 26 2020, 15:53:00)  [GCC 7.3.0]
executable: /home/skk_thenotorious/Documents/Udemy-MachineLearning/Sample_Project/env/bin/python
   machine: Linux-5.0.0-37-generic-x86_64-with-glibc2.10

Python dependencies:
       pip: 20.0.2
setuptools: 46.1.3.post20200330
   sklearn: 0.22.1
     numpy: 1.18.1
     scipy: 1.4.1
    Cython: None
    pandas: 1.0.3
matplotlib: 3.1.3
    joblib: 0.14.1

Built with OpenMP: True

In [27]:
# 2. Choose the right model and hyperparameters

#our problem is classification model probelem. Here we are trying to figure it out whether 
#the patient has heart deseases or not

from sklearn.ensemble import RandomForestClassifier # RandomForestClassifier is a clafification model
clf = RandomForestClassifier(n_estimators=100)

# we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [25]:
# 3. Fit the model to the training data 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
# 80% of the data will be used for train the data.

In [28]:
clf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [8]:
# make a prediction
y_label = clf.predict(np.array([0,2,3,4]))

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [9]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
178,43,1,0,120,177,0,0,120,1,2.5,1,0,3
97,52,1,0,108,233,1,1,147,0,0.1,2,3,3
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
104,50,1,2,129,196,0,1,163,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2
139,64,1,0,128,263,0,1,105,1,0.2,1,1,3
99,53,1,2,130,246,1,0,173,0,0.0,2,3,2
274,47,1,0,110,275,0,0,118,1,1.0,1,1,2

In [11]:
y_preds = clf.predict(x_test)
y_preds

array([0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0])

In [12]:
y_test

178    0
97     1
37     1
111    1
104    1
      ..
240    0
13     1
139    1
99     1
274    0
Name: target, Length: 61, dtype: int64

In [13]:
# 4. Evaluate the model on the training data and test data
clf.score(x_train, y_train)

1.0

In [14]:
clf.score(x_test, y_test)

0.8360655737704918

In [15]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.83      0.83      0.83        30
           1       0.84      0.84      0.84        31

    accuracy                           0.84        61
   macro avg       0.84      0.84      0.84        61
weighted avg       0.84      0.84      0.84        61

In [16]:
confusion_matrix(y_test, y_preds)

array([[25,  5],
       [ 5, 26]])

In [17]:
accuracy_score(y_test, y_preds)

0.8360655737704918

In [19]:
# 6. Improve model
# Try different amount of n_estimators
np.random.seed(42)

for i in range(10,100,10):
    print(f"trying model with {i} estimators")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%" )
    print("")

trying model with 10 estimators
Model accuracy on test set: 78.69%

trying model with 20 estimators
Model accuracy on test set: 81.97%

trying model with 30 estimators
Model accuracy on test set: 83.61%

trying model with 40 estimators
Model accuracy on test set: 83.61%

trying model with 50 estimators
Model accuracy on test set: 83.61%

trying model with 60 estimators
Model accuracy on test set: 80.33%

trying model with 70 estimators
Model accuracy on test set: 85.25%

trying model with 80 estimators
Model accuracy on test set: 85.25%

trying model with 90 estimators
Model accuracy on test set: 85.25%

In [20]:
# 7. Save a model and load it
import pickle

pickle.dump(clf, open('random_forest_model_1.pkl', 'wb')) # wb - write binary

In [21]:
loaded_model = pickle.load(open('random_forest_model_1.pkl', 'rb'))
loaded_model.score(x_test, y_test)

0.8524590163934426

## 1. Getting our data ready to be used with Machin Learning

Three main things we have to do.

1. Split the data into features and labels (Usually x and y)
2. Filling (also called inputing) or disregarding missing values
3. Conveting non-numerical values into numerical values (also called feature encoding)

In [34]:
heart_diseases.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [38]:
x = heart_diseases.drop('target', axis = 1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [37]:
y = heart_diseases['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [40]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [41]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [42]:
x.shape

(303, 13)

In [43]:
len(heart_diseases)

303

# 1.1 Make sure its all Numerical

In [68]:
car_sales = pd.read_csv('car-sales-data.csv')

In [69]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [77]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [78]:
# Split into X and Y
x = car_sales.drop('Price', axis = 1)
y = car_sales['Price']

# Split into train and test data set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [72]:
# Build ML model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(x_train, y_train)
model.score(x_test, y_test)

ValueError: could not convert string to float: 'Nissan'

In [79]:
# Turn the categories into Numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                   one_hot,
                                   categorical_features)],
                                   remainder = "passthrough")

transformed_x = transformer.fit_transform(x)
transformed_x

<1000x14 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

In [80]:
pd.DataFrame(transformed_x)

                                                     0
0      (0, 1)\t1.0\n  (0, 8)\t1.0\n  (0, 11)\t1.0\n...
1      (0, 0)\t1.0\n  (0, 5)\t1.0\n  (0, 12)\t1.0\n...
2      (0, 1)\t1.0\n  (0, 8)\t1.0\n  (0, 11)\t1.0\n...
3      (0, 3)\t1.0\n  (0, 8)\t1.0\n  (0, 11)\t1.0\n...
4      (0, 2)\t1.0\n  (0, 5)\t1.0\n  (0, 10)\t1.0\n...
..                                                 ...
995    (0, 3)\t1.0\n  (0, 4)\t1.0\n  (0, 11)\t1.0\n...
996    (0, 3)\t1.0\n  (0, 8)\t1.0\n  (0, 10)\t1.0\n...
997    (0, 2)\t1.0\n  (0, 5)\t1.0\n  (0, 11)\t1.0\n...
998    (0, 1)\t1.0\n  (0, 8)\t1.0\n  (0, 11)\t1.0\n...
999    (0, 3)\t1.0\n  (0, 5)\t1.0\n  (0, 11)\t1.0\n...

[1000 rows x 1 columns]